@font-face {
    font-family: 'Ekkamai Standard';
    src: url('EkkamaiStandard-Light.woff2') format('woff2'),
        url('EkkamaiStandard-Light.woff') format('woff'),
        url('EkkamaiStandard-Light.svg#EkkamaiStandard-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

